<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>HotRunner</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search-form.css">
</head>
<body>
    <section class="container">
        <div class="search-wrapper active">
            <div class="input-holder">
                <input id="search-bar" class="search-input" placeholder="Type to search" />
                <button class="search-icon"><span></span></button>
            </div>
            <div class="result-container">
                <div class="search-item">
                    <img src="/soft/phpstorm/bin/phpstorm.png">
                    <b><p>PHPSTORM</p></b>
                    <p>我是介绍</p>
                </div>

                <div class="search-item">
                    <img src="http://www.jq22.com/tx/32.png">
                    <b><p>我是标题</p></b>
                    <p>我是介绍</p>
                </div>

                <div class="search-item">
                    <img src="http://www.jq22.com/tx/32.png">
                    <b><p>我是标题</p></b>
                    <p>我是介绍</p>
                </div>
            </div>
        </div>
    </section>
</body>

<script>window.$ = require('../static/js/jquery-1.11.0.min');</script>
<script>
    $(function() {
        const {Ipc} = require('../static/js/electron');

        $('#search-bar').bind('input propertychange', function() {
            Ipc.sendMessage('ipcDropList', {
                plugin  : 'app',
                args    : 'phpstorm'
            });
        });

        Ipc.getMessage('eventDropList', function(event, args) {
            alert(args);
        });
    });
</script>
</html>