<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>HotRunner</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search-form.css">
</head>
<body>
    <section class="container">
        <div class="search-wrapper active">
            <div class="input-holder">
                <input id="search-bar" class="search-input" placeholder="Type to search" />
                <button class="search-icon"><span></span></button>
            </div>
            <div class="result-container">
                <div class="box-translate">
                    Loading Translate
                    <br>
                    翻译功能准备ING...
                </div>
            </div>
        </div>
    </section>
</body>

<script>window.$ = require('../static/js/jquery-1.11.0.min');</script>
<script>
    $(function() {
        const {Ipc} = require('../static/js/electron');

        $('#search-bar').bind('input propertychange', function() {
            const keyword = $.trim($('#search-bar').val());
            if (!keyword) {
                return;
            }

            Ipc.sendMessage('ipcDropList', {
                plugin  : 'app',
                args    : keyword
            });
        });

        Ipc.getMessage('eventDropList', function(event, selects) {
            $('.result-container .search-item').remove();

            let dropItem;
            let resultContainer = [];

            for (let select in selects) {
                try {
                    dropItem = JSON.parse(selects[select]);
                    resultContainer.push(renderDropItem(dropItem.Name, dropItem.Comment, dropItem.Icon));
                } catch (e) {
                    console.log(e.message)
                }
            }

            if (resultContainer.length > 0) {
                $('.result-container').html(resultContainer.join());
            }
        });

        function renderDropItem(name, comment, icon, exec) {
            return `<div class="search-item"><img src="${icon}"><b><p>${name}</p></b><p>${comment}</p></div>`;
        }

    });
</script>
</html>